@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rufina:wght@400;700&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* background-color: #EFEEE5; */
  background-color: transparent;
}

html, 
body{
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 94.167vw;
}

.main-heading {
  font-family: 'Rufina', serif;
  line-height: 44px;
  letter-spacing: 1px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #CFCDB4;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #034729;
}

.custom-css-sweetalert-title{
  color: #034729;
  background-color: #fff;
  font-family: 'Rufina', serif;
  font-size: 44px !important;
}

.custom-css-confirm-button{
  background-color: #034729 !important;
  color: #fff;
  outline: none !important;
  border: none !important;
}
